<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label :subject %>: <%= f.text_field :subject, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field">
        <%= f.label :place %>: <%= f.text_field :place, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field">
        <%= f.label :description %>
      </div>
    </div>
    <div class="col-xs-11">
      <div class="field">
        <%= f.text_area :description, class: 'form-control', rows: '5' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field">
        <%= f.label :start_time %> ~ <%= f.label :finish_time %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field">
        <%= f.datetime_select :start_time, minute_step: 10, discard_type: true, class: 'btn btn-default dropdown-toggle' %> ~ <%= f.datetime_select :finish_time, minute_step: 10, class: 'btn btn-default dropdown-toggle' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="actions">
        <%= f.submit "Create Meetup", class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
<% end %>
