<%= form_for(event, html: {class: "event-form"}) do |f| %>
  <% if event_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_form.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label :subject %>: <%= f.text_field :subject, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label :place %>: <%= f.text_field :place, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label :description %>:
        <%= f.text_area :description, class: "form-control summernote" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label "시작 예정 시각(현지)" %>:
        <div class="quick-datetime-select" data-start-datetime="#start-time"></div>
        <div>
          <span id="start-time">
            <%= event.start_time %>
            <%= f.datetime_select :start_time, minute_step: 10 %>
            <%= f.select :timezone_offset, timezone_options %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <div class="col-sm-3">
          <%= f.label "예상 소요 시간" %>:
        </div>
        <div class="col-sm-1">
          <span id="until-hour"><%= f.phone_field :planned_time, class: "form-control" %></span>
        </div>
        <div class="col-sm-2 hour-label">시간</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="actions">
      <% if event.persisted? %>
        <%= f.submit "Update Meetup", class: "btn btn-warning", id: "update-submit" %>
      <% else %>
        <%= f.submit "Create Meetup", class: "btn btn-warning", id: "create-submit" %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
