<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label :subject %>: <%= f.text_field :subject, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label 'Place(지도 검색 시, 한 장소만 검색되도록 키워드를 넣어주세요)' %>: <%= f.text_field :place, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label :description %>:
        <%= f.text_area :description, class: 'form-control', rows: '5' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <label>Select the date:</label>
        <div class="quick-datetime-select" data-start-datetime="#start-time" data-end-datetime="#end-time"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label :start_time %>:
        <div>
          <span id="start-time"><%= f.datetime_select :start_time, minute_step: 10 %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="field form-group">
        <%= f.label :finish_time %>:
        <div>
          <span id="end-time"><%= f.datetime_select :finish_time, minute_step: 10 %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="actions">
        <%= f.submit event.persisted? ? "Update Meetup" : "Create Meetup", class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
<% end %>
