<p id="notice"><%= notice %></p>

<div id='calendar'></div>

<h2>Next Events</h2>

<ul>
<% @events.select { |e| e.ing_or_after? }.each do |event| %>
  <li><%= event.start_time_with_tz %>~ <%= link_to "#{event.subject} in #{event.place}", event %> (<%= event.member_names.join(', ') %>)</li>
<% end %>
</ul>

<br>

<%= link_to 'New Event', new_event_path %>
