<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @event.subject %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
