<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @event.subject %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.nickname %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.start_time %> - <%= @event.finish_time %>
</p>

<% if @event.editable? current_user %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', events_path %>
