<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @event.subject %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.user.nickname %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.start_time %> - <%= @event.finish_time %>
</p>

<% unless @event.members.empty? %>
<p>
  <strong>Who will come?</strong><br>
  <%= @event.members.map {|member| member.nickname }.join(', ') %>
</p>
<% end %>

<% unless @event.joined? @user %>

<% end %>

<% if @event.editable? @user %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% elsif @event.joined? @user %>
<%= link_to 'I cannot go T-T', unjoin_event_path(@event), method: :post %>
<% else %>
<%= link_to 'Join', join_event_path(@event), method: :post %>
<% end %>
<%= link_to 'Back', events_path %>
